<div class="row">
    <div class=" col-md-12 side-nav-logo">
        <a routerLink="/home">
            <div class="align-center">
                <fa-icon class="side-nav-icon-logo" [icon]="faSmoking"></fa-icon>
                <span class="side-nav-title-logo">Smoke</span>
            </div>
        </a>
    </div>
    <div class=" col-md-12 p-t-5 p-b-5 divider">
            <hr class="solid">
    </div>
    <div class="col-md-12 p-t-5 p-b-5 side-nav-button">
        <a routerLink="/home">
            <div>
                <fa-icon class="side-nav-icons" [icon]=faTachometerAlt></fa-icon> <span class="side-nav-title">Home</span>
            </div>
        </a>
    </div>
    <div class=" col-md-12  p-t-5 p-b-5 side-nav-button">
        <a routerLink="/dashboard" >
            <div>
                <fa-icon class="side-nav-icons" [icon]=faStore></fa-icon> <span class="side-nav-title">Dashboard</span>  
            </div>
        </a>
    </div>
    <div class=" col-md-12 p-t-5 p-b-5 divider">
        <hr class="solid">
    </div>
    <div class=" col-md-12 p-t-5 p-b-5 side-nav-button">
        <a href="" >
            <fa-icon class="side-nav-icons" [icon]=faCog></fa-icon> <span class="side-nav-title">Settings</span>
        </a>
    </div>
</div>